<ion-header >
  <ion-toolbar >
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card-header class="card-header">
    <img src="../../assets/icon/duocuc.png" alt="">
  <div>
  <ion-card-title class="card-title">Bienvenido/a a RegistrAPP! </ion-card-title>
</div>
</ion-card-header>
<ion-content >

  <ion-card-content class="intro">
    <strong >La nueva forma de pasar asistencia! Por favor ingresa con tu correo institucional y contraseña.</strong>
    
  </ion-card-content>
<ion-button [routerLink]="['/ingresar']"  class="btn-ingresar" expand="block">
  Comenzar!
</ion-button>
</ion-content>
